extends layout

block content
  .container-page__login-page
    .container-page__content
      .container-page__form
        .header-block
          if form === loginPath
            h1 Log in to chat
            a.link(href= joinPath) I don't have an account
          else
            h1 Join to chat
            a.link(href= loginPath) I have an account
        form#enter-form(
          action= form
          method='post'
        )
          .form-item
            label(for='name') Nickname:
            input#name(
              required
              type='text'
              name='username'
              placeholder='Enter your nickname...'
            )
          .form-item
            label(for='password') Password:
            input#password(
              required
              type='password'
              name='password'
              placeholder='Enter your password...'
            )
          .form-item
            label(for='room') Select your room:
            select#room(name='room')
              option(value='javascript') JavaScript
              option(value='nodejs') NodeJS
              option(value='python') Python
          if error
            include error.pug
          .form-item.form-button
            input#submit(
              type='submit'
              value='Chat'
            )
