extends layout

block content
  .container-page__login-page
    .container-page__content
      .container-page__form
        .header-block
          a.link(href='/join') Sign up
          h1= title
        form#enter-form(
          action='/login'
          method='post'
        )
          .form-item
            label(for='name') Nickname:
            input#name(
              required
              type='text'
              name='username'
              placeholder='Enter your nickname...'
              value= username
            )
          .form-item
            label(for='password') Password:
            input#password(
              required
              type='password'
              name='password'
              placeholder='Enter your password...'
            )
          .form-item
            label(for='currentRoom') Select your room:
            select#currentRoom(name='currentRoom')
              option(value='javascript') JavaScript
              option(value='nodejs') NodeJS
              option(value='python') Python
          if error
            .error
              p.error-message= error
          .form-item.form-button
            input#submit(
              type='submit'
              value='Chat'
            )
